body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F1F1F1;
    margin: 7rem;
    gap: 2rem;
}

.div_select{
    display: flex;
    justify-content: space-between;
    height: 100%;

}

.div_select select{
    width: 200px;
    font-size: 1rem;
    text-align: center;
    border-radius: 10px;
    
}
.div_select label{
    width: 200px;
    font-size: 1rem;
    font-weight: bold;
}
.div_btn{
    display: flex;
    
}
.div_btn label{
    width: 200px;
    font-size: 1rem;
    font-weight: bold;
}

.div_btn input{
    width: 200px;
    font-size: 1rem;
    border-radius: 10px;
    cursor: pointer;
}
.div_btns{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}
.div_btns button{
    width: 200px;
    height: 40px;
    font-size: 1rem;
    border-radius: 10px;
    cursor: pointer;
}