body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.calculadora {
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f4f4f4;
    text-align: center;
}

input[type="number"] {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.botones {
    display: flex;
    flex-direction: column;
}

.botones button {
    padding: 10px;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.botones button:hover {
    background-color: #0056b3;
}

.botones .salir {
    background-color: #dc3545;
}

.botones .salir:hover {
    background-color: #c82333;
}

h1 {
    font-size: 3em;
    color: #fff;
    letter-spacing: 5px;
    text-transform: uppercase;
    position: relative;
    animation: fadeIn 2s ease-in-out forwards, gradientText 3s ease-in-out infinite;
    background: linear-gradient(90deg, #ff6e7f, #bfe9ff, #ff6e7f);
    background-size: 200%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    opacity: 0;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes gradientText {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 100%;
    }
}